# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: https://www.gplvip.com
date_format: "ordinal"
title: 南帆
subtitle: "与其求新 不如求本"
description: "个人博客"
keywords: gpl, 南帆, blog
timezone: Asia/BeiJing
encoding: "utf-8"
side_bar_repo_limit: 5

# ---------------- #
#      Author      #
# ---------------- #
author: Zhuang Ma
organization: hecom.cn
organization_url: https://www.hecom.cn
github_username: gplcn
location: BeiJing, China
email: sdgaopeilei@gmail.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

#   -
#     href: /archives/
#     label: 归档

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 10
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

repository: mzlogin/mzlogin.github.io

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk
comments_provider: gitalk
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: 
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: gplcn
    repo: blog-comments
    oauth:
        client_id: b2131d5d980834c3789b
        client_secret: 6aa1f4de45192425d77e6b444e347010816a84f0
# https://github.com/gitalk/gitalk#install
gitalk:
    owner: gplcn
    repo: blog-comments
    clientID: b2131d5d980834c3789b
    clientSecret: 6aa1f4de45192425d77e6b444e347010816a84f0
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : false

# ---------------- #
#      Search      #
# ---------------- #
simple_jekyll_search:
    # 是否支持全文搜索
    fulltext: false
    # 最多显示多少条搜索结果
    limit: 10

# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-131451785-1
